/* ===== 视频数字人容器 ===== */
.dh-body {
  width: 240px;
  height: 380px;
  position: relative;
  overflow: hidden;
  background: transparent;
}

/* ===== 视频全屏撑满 ===== */
.dh-video {
  width: 100%;
  height: 100%;
}
